{% extends 'base.html' %}

{% block main %}
    <div class="am-g am-container">
        <div class="am-u-sm-12">
            <div class="am-text-center am-margin-vertical-xl">
                <span class="am-icon-btn am-danger am-icon-bolt am-icon-lg"></span>
                <p>查找的资源已过期或不存在，请重试！</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

{% block script %}
    <script>
        $('.footer').addClass('footer-fixed');
    </script>
{% endblock %}