{% extends 'base.html' %}

{% block main %}
    <div>
        <ul data-am-widget="gallery" id="we-imgs"
            class="am-gallery am-avg-sm-2 am-avg-md-2 am-avg-lg-4 am-gallery-bordered"
            data-am-gallery="{ pureview: { weChatImagePreview: false } }">
            {% for img in res %}
                <li class="we-img">
                    <div class="am-gallery-item">
                        <a href="#">
                            <img src="{{ img.previewURL }}"
                                 data-rel="{{ img.webformatURL }}"
                                 alt="{{ img.tags }}"
                                 style="max-height: 90px;"/>
                            <h3 class="am-gallery-title">
                                {% set tags = img.tags.split(',') %}
                                {%- for tag in tags -%}
                                    <span>{{ tag.strip() }} </span>
                                {%- endfor -%}
                            </h3>
                            <div class="am-gallery-desc am-cf">
                                <span class="am-fl"><i class="am-icon-heart" style="color: #DD514C"></i> {{ img.likes }}</span>
                                <span class="am-fr"><i class="am-icon-eye"></i> {{ img.views }}</span>
                            </div>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}